.header {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    margin-bottom: 66px;
}

.header .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .img-clock {
    position: relative;
    width: 265px;
    height: 265px;
}

.header .img-title {
    position: absolute;
    width: 564px;
    height: 112px;
}

@media (min-width: 451px) and (max-width: 767px) {
    .header .img-clock {
        width: 180px;
        height: 180px;
    }

    .header .img-title {
        width: 430px;
        height: 85px;
    }
}

@media (max-width: 450px) {
    .header .img-clock {
        width: 125px;
        height: 125px;
    }

    .header .img-title {
        width: 267px;
        height: 53px;
    }
}