@font-face {
    font-family: "tvN Enjoystories";
    font-style: normal;
    font-weight: 700;
    src: url("./tvN\ Enjoystories\ Medium.ttf") format("woff");
}

@font-face {
    font-family: 'Gmarket Sans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}